// IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url("f/r/style.css");
@import url("f/t/style.css");



.font_def{
    font-family: "Poppins", sans-serif;
}
.font_head{
    font-family: 'Cormorant Infant', sans-serif;
    font-weight: 500 !important;
}
.font_sec{
    font-family: 'FH Total Display - Test Regular', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @extend .font_def;
    -webkit-tap-highlight-color: transparent;
    // border: 1px solid red !important;
}

$background: #fcfcfc;
$light:#eeeeee;
$text_gray:#6e6e6e;
$opacity_1: #c7b9a577;
$opacity_2: #625b52b8;
$dark:#070042;
$black:#000000;

$secdark : #2d1610;
$sec_back : #fff9f3;


#update_text{
    display: none;
}


body.updating{
    >*{
        display: none;

        &#update_text{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
        }
    }
}
html{
    // height: 100%;
    overflow-x: hidden;
    scrollbar-width: 0;
    height: 100%;
   
}



body{
    background-color: $background;
    // overflow-x: hidden;
    scrollbar-width: 0;
    height: 100%;
    


  &:has(#index_main){
    &::before{
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/ui/bg.png');
        background-position: center;
        opacity: 0.4; /* Arka plan opaklığını burada ayarlayın */
        z-index: -1; /* İçeriklerin arkasında kalması için */
    }
  }

    
}


a{
    text-decoration: none;
    color: unset
}




h1,h2{
    @extend .font_head;
    font-weight: 500;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

#nav_1{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: .6rem 1.5rem;
    position: sticky;
    
    top: 0;
    left: 0;
    z-index: 5;
    
    
    transition: .4s;

    &.nav_active{
        background-color: $background;
        border-bottom: 1px solid $dark;
        opacity: 1;

        
    }

    &.nav_passive{
        background-color: $background;
        border-bottom: 1px solid $dark;
        opacity: 1;
        .cls-1{
            fill: $dark !important;
        }
    }

    >#nav_left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: .5rem;
        line-height: 110%;
    
        >span{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            >svg{
                height: 60%;
                .cls-1{
                    fill: $background;
                }
            }
        }


    }

    >#menu_button{
        height: 3rem;
        // aspect-ratio: 1/1;
        // background-color: $dark;
        color: $dark;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        >svg{
            height: 60%;
            .cls-1{
                fill: $background;
            }
        }
    }

}


menu{
    transform: translateX(100%);
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding: 1.5rem;
    top: 0;
    left: 0;
    background-color: $light;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
    transition: .5s ease;

    &.menu_active{
        transform: translateX(0);
    }

    .cls-1{
        fill: $dark !important;
    }

    >#menu_header{
        display: flex;
        align-items: center;
        justify-content: space-between;

        >#menu_header_left{
            display: inline-flex;
            align-items: flex-start;
            flex-direction: column;
            gap: .5rem;
            height: 3.5rem;

            >svg{
                height: 50%;
                // height: 100%;
            }

            >span{
                display: inline-block;
                font-size: .9rem;
            }
        }

        >#menu_header_right{
            height: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;

            >svg{
                height: 75%;
            }
        }
    }

    >#menu_content{
        // margin-top: 20vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        justify-content: center;
        
        >a{
            text-align: left;
            font-size: 2rem;
            color: $dark;
            @extend .font_head;
            font-weight: 400;
            // -webkit-text-stroke: .1px $background;
            border-bottom: 1px solid $dark;
        }

    }

    >#menu_footer{
        height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        >a{
            font-size: 1.1rem;
            color: $dark;
        }
    }
}


#hero_video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    z-index: -3;
   &.v1{
 
    object-position: top 20%;
    overflow-x: hidden;
    // object-position: bottom;
    filter: grayscale(1);
    mask-image: linear-gradient(#000000 80%,#fff2df00 100%);
   }

    &.v2{
        object-position: top left;
        height: 50vh;
        // filter: grayscale(0);
        filter: grayscale(100%) sepia(100%) brightness(48%) hue-rotate(171deg) saturate(1000%) contrast(110%);
        -webkit-filter: grayscale(100%) sepia(100%) brightness(48%) hue-rotate(171deg) saturate(1000%) contrast(110%);
        -moz-filter: grayscale(100%) sepia(100%) brightness(48%) hue-rotate(171deg) saturate(1000%) contrast(110%);
    }
}

#index_main_2{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem;
    min-height: 200vh;

    .content_header{
        border-top: 1px solid $dark;
        padding-top: 1rem;
        @extend .font_head;
        font-style: italic;
        font-size: 1.7rem;
        font-weight: 600;
    }

    >#index_part_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        >#index_part_1_header{
            padding-top: 12vh;
            >h1{
                position: relative;
                text-align: center;
                font-size: 2.6rem;
                font-weight: 500;
                color: $background;
                position: relative;
                animation: openFromMiddle 1.5s ease-out forwards;
                height: 7rem;
                width: 100%;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                align-items: center;
                clip-path: inset(0px 50% 0px 50%);
                -webkit-clip-path: inset(0px 50% 0px 50%);
                >span{
                    display: inline-block;
                    position: relative;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    @extend .font_head;
                    text-wrap: nowrap;
                }
                
                

                @keyframes openFromMiddle {
                    0% {
                        clip-path: inset(0px 50% 0px 50%);
                        -webkit-clip-path: inset(0px 50% 0px 50%);
                        transform: scale(.9);
                       }
                       20%{
                        transform: scale(.9);
                       }

                       70%{
                        transform: scale(1);
                       }
                      100% {
                         clip-path: inset(0px 0px 0px 0px);
                         -webkit-clip-path: inset(0px 0px 0px 0px);
                         
                      }
                }
            }
        }

        >#index_part_1_content{
            margin-top: 25vh;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;

            
          >div:nth-child(2){

            display: flex;
            flex-direction: column;
            gap: 2rem;

            >div:nth-child(1){
                display: flex;
                flex-direction: column;
                gap: 2rem;
                >p{
                    &:nth-child(1){
                        font-size: 1.6rem;
                        @extend .font_head;
                        >span{
                            @extend .font_head;
                        }
                    }
    
                    &:nth-child(3){
                        font-size: 1rem;
                        color:$text_gray;
                        
                    }
                }
            }

           

            >div:nth-last-child(1){
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                gap: 2rem;

                >div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    gap: 1rem;
                    >button{
                        width: 50%;
                        height: 2.6rem;
                        border: 1px solid $dark;
                        padding: .5rem .5rem;
                        padding-left: .8rem;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background-color: transparent;
    
                        &:hover{
                            background-color: $dark;
                            >span{
                                color: $background;
                            }
                            >ion-icon{
                                color: $background;
                            }
                        }
    
                        >span{
                            line-height: 0%;
                        }
    
                        >ion-icon{
                            font-size: 1rem;
                        }
                        
                    }
                }
            }
          }
        }

    }

    >#index_part_2{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        


        >#scrolling_text{
            font-size: 2rem;
           
            >h1{
                transform: translateX(-1.9rem);
                width: 100vw;
                display: flex;
                @extend .font_def;
                gap: 1rem;
                line-height: 110%;
                font-weight: 300;
                // opacity: 0;

                animation: scrolling_text_an linear;
                animation-timeline: scroll(root);
                @keyframes scrolling_text_an {
                    to{
                        transform: translateX(-200%);
                    }
                }
                >span{
                    @extend .font_head;
                    font-style: italic;
                    text-wrap: nowrap;
                }
            }            
        }

        >p{
            font-size: 1.7rem;
            font-weight: 500;
            @extend .font_head;
        }

        >#index_part_2_img{
            >img{
                width: 100%;
                object-fit: cover;
            }
        }

        >#index_part_2_content{
            display: flex;
            flex-direction: column;

            >.services_card{
                cursor: pointer;
                // height: 3rem;
                padding: 2rem 1rem;
                // height: 5.5rem;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-bottom: 1px solid $dark;
                transition: .6s;

                &:nth-child(1){
                    border-top: 1px solid $dark;
                }
                transform: scaleY(1);

                >div{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >span{
                        line-height: 110%;
                    }

                    >ion-icon{
                        font-size: 1.6rem;
                    }
                }

                p{
                    padding-top: 2rem;
                    display: none;
                }


                &.services_card_active{
                    // height: 11rem;
                    transform: scaleY(1);
                    
                    p{
                        display: inline-block;
                    }
                }
            }
        }

    }

    >#index_part_3{
        display: flex;
        flex-direction: column;
        gap: 4rem;

        >.content_header{
            border: none;
            font-size: 1.7rem;
        }

        >#index_part_3_content{

            // display: flex;
            // flex-direction: column;
            // gap: 2rem;

            >#part_3_articles{
                display: flex;
                overflow: visible;
                >.article_div{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    min-width: 87.5vw !important;
                    flex-shrink: 1;

                    >img{
                        width: 100%;
                        height: 12rem;
                        object-fit: cover;
                    }

                    >div{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        font-size: .8rem;
                        color: $text_gray;
                    }

                    >h2{
                        font-weight: 700 !important;
                    }
                }

            }

        }
    }

    >#index_part_4{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        >.content_header{
            font-size: 1.7rem;
        }

        >#index_part_4_content{

            display: flex;
            flex-direction: column;
            gap: 2rem;

            >#part_4_news{
                display: flex;
                flex-direction: column;
                gap: 3rem;
                
                >.new_div{
                    display: flex;
                    gap: 1rem;

                    >img{
                        width: 25%;
                        height: 6rem;
                        object-fit: cover;
                    }

                    >div{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        justify-content: space-between;
                        font-size: .8rem;
                        color: $text_gray;
                        gap:1rem;

                        >div{
                            width: 100%;
                            display: flex;
                            justify-content: space-between;

                            &:nth-child(1){
                                height: 1rem;
                            }
                          
                        }
                        >p{
                            @extend .font_head;
                            font-size: 1.2rem;
                            line-height: 1.3rem;
                            height: 4rem;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 3; /* Burada 3 satır ile sınırlandırıyoruz */
                            color: $black;
                            font-weight: 700 !important;
                            
                        }

                    }

                   
                }

            }

        }
    }

    >#index_part_5{
        display: flex;
        flex-direction: column;
        gap: 2rem;

        >div:nth-last-child(1){
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
            h3{
                @extend .font_head;
                font-size: 2rem;
            }

            >input{
                width: 100%;
                border: 1px solid $dark;
               padding: .5rem 1rem ;
               border-radius: 3px;
               outline: none;
            }

            >button{
                width: fit-content;
                background-color: $dark;
                padding: .5rem 1rem;
                color: $light;
                border-radius: 3px;
            }
        }
    }



    @media only screen and (min-width: 900px) {
        
        gap: 5rem;
        padding: 2rem 5rem;

        .content_header{
            font-size: 1.5rem;
        }
        >#index_part_1{
            
            >#index_part_1_content{
                
                >div:nth-last-child(1){
                    // flex-direction: row;
                    gap: 7rem;

                    >div:nth-child(1){
                        width: 60%;

                        >p:nth-child(1){
                            font-size: 2.9rem !important;
                        }

                        
                        
                    }

                    >div:nth-last-child(1){
                        flex-direction: column;
                        width: 40%;
                        float: right;
                        align-self: flex-end;

                        >p:nth-child(1){
                            font-size: 1.1rem !important;
                        }
                        
                    }
                }
            }
        }


        >#index_part_2{

            >#scrolling_text{
                opacity: 0;
            }

            >p{
                font-size: 2.5rem;
                width: 70%;
                padding-right: 2rem;
                align-self: flex-end;
                text-align: left;

            }

        }

       
      }
    

}



.swiper-scrollbar{
    width: 100%;
    height: 5px;
  

   
}



p{
    position: relative;

    &::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        // transform: rotate(180deg);
        background:linear-gradient(0deg, $background 100% , transparent);
        transition: 2s;
    }

    &.activated_p{
        &::before{
            animation: p_bef_an 1s linear forwards;
            @keyframes p_bef_an {
                0%{
                    opacity: 1;
                }
                100%{
                    opacity: 0;
                }
            }
        }
    }
}





#footer_1{
    // height: 60vh;
    background-color: $dark;
    padding: 2rem 1rem;
    color: $light;
    margin-top: 10vh;

    >#footer_part_1{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >div{
            border-top: 1px solid $opacity_1;
            width: 49%;
            padding: 1rem 0;

            display: flex;
            flex-direction: column;
            gap: .5rem;

            >h2{
                font-style: italic;
                font-size: 1rem;
                margin-bottom: 1rem;
            }

            >a{
                color: $light;
                font-size: .9rem;
                font-weight: 300;
            }

            &:nth-child(1),&:nth-child(3){
                margin-right: 1%;
            }

            &:nth-child(3),&:nth-child(4){
                margin-top: 1.5rem;
            }
        }
    }

    >#footer_part_2{
        border-top: 1px solid $opacity_1;
        padding-top: 1rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        >#footer_part_2_header{
            display: flex;
            flex-direction: column;
            gap: 1rem;

            >h2{
                font-style: italic;
            }
            
            >span{
                font-size: .8rem;
            }
        }

        >#form{
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            >input,textarea,button{
                background-color: transparent;
                padding: .5rem .2rem;
                border: none;
                outline: none;
                color: $light;
                font-weight: 300;
                border-bottom: 1px solid $opacity_1;
            }

            >span{
                font-size: .7rem;
            }
            >button{
                padding: .5rem 1rem;
                font-size: 1rem;
                border: 1px solid $opacity_1;
                color: #ffffffda;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }

    >#footer_part_3{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        >a{
            width: 100%;
            font-size: .9rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $light;
            
            >span{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: .7rem;
                >ion-icon{
                    font-size: 1.3rem;
                }
            }
        }
        
        >#footer_img{
            >iframe{
                width: 100%;
            }
        }

        >#footer_footer{
            font-size: .7rem;
            text-align: justify;
            font-weight: 300;
        }
    }
}


#nav_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 20;

    >#nav_left{
        display: flex;
        flex-direction: column;

        >span{
            display: inline-block;
            height: 1.7rem;
            
            >svg{
                height: 100%;

                .cls-1{
                    fill: $secdark;
                }

            }
        }

    }

    >#menu_button{
        height: 3rem;
        aspect-ratio: 1/1;
        background-color: $secdark;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 1rem;
        border-radius: 4px;

        >ion-icon{
            font-size: 1.7rem;
            color: $sec_back;
            --ionicon-stroke-width: 15px;

        }
    }
}


.m_2_i{
    filter: grayscale(100%) sepia(100%) brightness(53%) hue-rotate(348deg) saturate(178%) contrast(135%);
    -webkit-filter: grayscale(100%) sepia(100%) brightness(53%) hue-rotate(348deg) saturate(178%) contrast(135%);
    -moz-filter: grayscale(100%) sepia(100%) brightness(53%) hue-rotate(348deg) saturate(178%) contrast(135%);
}

#index_main{
    overflow-x: hidden;
    min-height: 200vh;
    // padding: .5rem;
    padding-top: 10vh;

    .index_part{
        // overflow-x: hidden;
    }

    .content_header_2{
        width: 90%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        >h1{
            font-size: 2.4rem;
            font-weight: 900;
        }
        
        >p{
            width: 80%;
            color: $opacity_2;
        }
    }

    #index_decoration_1{
            position: absolute;
            height: 140vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: -2;

        >#index_part_1_img{
            // display: none;
            // display: inline-block;
            position: sticky;
            display: inline-block;
            width: 50vw;
            top: 35vh;
            right: 0;
            transform: translateX(60%);
            
            z-index: 2;

            >img{
                height: 85vh;
            }
        }
    }

    #index_part_1{
        // height: 100vh;
        width: 100%;
        padding-top:5vh;


        >#index_part_1_header{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: transparent;
            gap:2rem;
            >h1{
                text-align: center;
                font-size: 2rem;
                font-weight: 900;
                text-shadow: 0 0 1px $secdark;

                color: $secdark;
            }

            >a{
                padding: .7rem 1.2rem;
                background-color: $secdark;
                color: $sec_back;
                @extend .font_head;
                display: inline-block;
                position: relative;
                border-radius: 3px;
                
           
                
            }
        }

        >#index_part_1_content{
            width: 100%;
            height: 100%;
            // position: relative;
            padding-top: 20vh;
           

            >#index_part_1_block{
                // display: none;
                width: 85vw;
                aspect-ratio: 1/1.1;
                z-index: -3;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
                border: 5px solid $opacity_1;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;


    

            }

            >#index_part_1_text{
                position: relative;
                z-index: -3 !important;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10vh;
                >h1{
                    font-size: 33vw;
                    font-weight: 900;
                    position: relative;
                    left: 50%;
                    transform: translateX(-50%);
                    color: $opacity_1;
                    
                
                }
            }
           
        }
    }

    #index_part_2{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 15vh;
        padding: 1rem;
       
        h2{
            font-size: 2rem;
        }

        >a{
            padding: .8rem 1.3rem;
            background-color: $secdark;
            color: $sec_back;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            >ion-icon{
                font-size: 1.4rem;
            }
        }

        >#scrolling_text{
            margin-top: 3rem;
            font-size: 2rem;
           
            >h1{
                transform: translateX(-1.9rem);
                width: 100vw;
                display: flex;
                @extend .font_def;
                gap: 1rem;
                line-height: 110%;
                font-weight: 300;
                // opacity: 0;

                animation: scrolling_text_an linear;
                animation-timeline: scroll(root);
                @keyframes scrolling_text_an {
                    to{
                        transform: translateX(-200%);
                    }
                }
                >span{
                    @extend .font_head;
                    font-style: italic;
                    text-wrap: nowrap;
                }
            }            
        }

    }

    #index_part_3{
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        gap: 2rem;


        >#part_2_content{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 3rem;
            padding: 1rem;

            >div{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: .5rem;
                align-items: center;
                text-align: center;

                >.part_2_content_img{
                    width: 90%;
                    height: 7rem;
                    background-color: $opacity_1;
                   

                    >img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 5px;

                        @extend .m_2_i;

                   
                    }
                }

                >p{
                    width: 90%;
                    font-size: .9rem;
                }
            }
        }
    }


    #index_part_5{
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        gap: 3rem;

        >#index_part_5_content{
            >#part_3_articles{
                display: flex;
                overflow: visible;
                >.article_div{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    min-width: 100vw !important;
                    padding: 0 1.5rem;
                    flex-shrink: 1;
    
                    >img{
                        width: 100%;
                        height: 12rem;
                        object-fit: cover;
                        @extend .m_2_i;
                        border-radius: 3px;
                    }
    
                    >div{
                        display: flex;
                        width: 100%;
                        align-items: center;
                        justify-content: space-between;
                        font-size: .8rem;
                        color: $text_gray;
                    }
    
                    >h2{
                        font-weight: 700 !important;
                    }
                }
    
            }
        }
    }


    #index_part_6{
        margin-top: 6vh;
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        padding: 1.5rem;

        >#part_4_news{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            
            >.new_div{
                display: flex;
                gap: 1rem;

                >img{
                    width: 25%;
                    height: 6rem;
                    object-fit: cover;
                    @extend .m_2_i;
                }

                >div{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: space-between;
                    font-size: .8rem;
                    color: $text_gray;
                    gap:1rem;

                    >div{
                        width: 100%;
                        display: flex;
                        justify-content: space-between;

                        &:nth-child(1){
                            height: 1rem;
                        }
                      
                    }
                    >p{
                        @extend .font_head;
                        font-size: 1.2rem;
                        line-height: 1.3rem;
                        height: 4rem;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        -webkit-line-clamp: 3; /* Burada 3 satır ile sınırlandırıyoruz */
                        color: $black;
                        font-weight: 700 !important;
                        
                    }

                }

               
            }

        }
    }

    #index_part_7{
        margin-top: 7vh;

        >#index_part_7_content{
            display: flex;
            flex-direction: column;
            gap: 2rem;

            padding: 1.5rem;

            >input{
                padding: 1rem;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $secdark;
                outline: none;
                font-size: 1.1rem;

            }

            >button{
                padding: 1rem;
                background-color: $secdark;
                border-radius: 3px;
                color: $sec_back;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 1rem;
                >ion-icon{
                    color: $sec_back;
                    font-size: 1.3rem;
                }
            }
        }

    }
        


}


#footer_2{
    margin-top: 10vh;
    background-color: $secdark;
    min-height: 50vh;
}
