// IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("f/r/style.css");
@import url("f/t/style.css");




.font_def{
    font-family: "Poppins", sans-serif;
}
.font_head{
    font-family: 'Rob', sans-serif;
}
.font_sec{
    font-family: 'FH Total Display - Test Regular', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @extend .font_def;
}

$background: #f3f3f3;
$light:#eeeeee;
$text_gray:#6e6e6e;
$opacity_1: #c7b9a577;
$dark:#070042;

#update_text{
    display: none;
}


body.updating{
    >*{
        display: none;

        &#update_text{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
        }
    }
}
html{
    // height: 100%;
    overflow-x: hidden;
}

body{
    background-color: $background;
    // overflow-x: hidden;
    
}





h1,h2{
    @extend .font_head;
    font-weight: 500;
}

button{
    border: none;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 5;

    >#nav_left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        line-height: 170%;
    
        >span{
            @extend .font_head;
            font-size: 1rem;
        }
        >span:nth-child(1){
            font-size: 2.2rem;
            
        }

    }

    >#menu_button{
        height: 3rem;
        aspect-ratio: 1/1;
        background-color: $dark;
        color: $light;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;

        >ion-icon{
            font-size: 1.7rem;
        }
    }

}


#hero_video{
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    object-fit:cover;
    object-position: top 20%;
    overflow-x: hidden;
    // object-position: bottom;
    z-index: -1;
    filter: grayscale(2);
    // mask-image: linear-gradient(#000000,#fff2df,#fff2df00);

    &.v2{
        object-position: top right;
        height: 40vh;
        // filter: grayscale(0);
        filter: grayscale(100%) sepia(100%) brightness(57%) hue-rotate(163deg) saturate(379%) contrast(175%);
        -webkit-filter: grayscale(100%) sepia(100%) brightness(57%) hue-rotate(163deg) saturate(379%) contrast(175%);
        -moz-filter: grayscale(100%) sepia(100%) brightness(57%) hue-rotate(163deg) saturate(379%) contrast(175%);
    }
}

#index_main_2{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1.5rem;
    min-height: 200vh;

    .content_header{
        border-top: 1px solid $dark;
        padding-top: 1rem;
        @extend .font_head;
        font-style: italic;
        font-size: .8rem;
    }

    >#index_part_1{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        >#index_part_1_header{
            padding-top: 13vh;
            >h1{
                font-size: 2.8rem;
                font-weight: 500;
                color: $light;
            }
        }

        >#index_part_1_content{
            margin-top: 15vh;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            width: 100%;

            

            >p{
                &:nth-child(2){
                    font-size: 1.6rem;
                    @extend .font_head;
                    >span{
                        @extend .font_head;
                    }
                }

                &:nth-child(3){
                    font-size: 1rem;
                    color:$text_gray;
                    
                }
            }

            >div:nth-last-child(1){
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                gap: 1rem;

                >button{
                    width: 50%;
                    height: 2.6rem;
                    border: 1px solid $dark;
                    padding: .5rem .5rem;
                    padding-left: .8rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    >span{
                        line-height: 0%;
                    }

                    >ion-icon{
                        font-size: 1rem;
                    }
                    
                }
            }
        }

    }

    >#index_part_2{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        


        >#scrolling_text{
            font-size: 2rem;
            >h1{
                display: flex;
                @extend .font_def;
                gap: 1rem;
                line-height: 110%;
                font-weight: 300;
                opacity: 0;
                >span{
                    @extend .font_head;
                    font-style: italic;
                }
            }            
        }

        >p{
            font-size: 1.5rem;
            @extend .font_sec;
        }

    }

}


#index_main{
    overflow-x: hidden;
    min-height: 150vh;
    // padding: .5rem;

    .index_part{
        // overflow-x: hidden;
    }

    #index_part_1{
        height: 100vh;
        width: 100%;
        padding-top:5vh;


        >#index_part_1_header{
            display: flex;
            align-items: center;
            justify-content: center;
            color: transparent;
            >h1{
                text-align: right;
                font-size: 2rem;
            }
        }

        >#index_part_1_content{
            width: 100%;
            height: 100%;
            // position: relative;
            
            >#index_part_1_img{
                // display: none;
                // display: inline-block;
                position: absolute;
                top: 30vh;
                right: -20%;
                
                z-index: 2;

                >img{
                    height: 85vh;
                }
            }

            >#index_part_1_block{
                display: none;
                width: 85vw;
                aspect-ratio: 1/1.1;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-60%);
                border: 5px solid $opacity_1;
                border-radius: 5px;

                // display: flex;
                flex-direction: column;
                justify-content: space-between;

                >#index_part_1_block_upper{
                    display: flex;
                    gap: 1rem;
                    transform: translateY(-110%);

                    >div{
                        display: flex;
                        flex-direction: column;
                        >span{
                            line-height: 110%;
                            font-size: .7rem;
                        }

                        >span:nth-child(1){
                            @extend .font_head;
                            font-weight: 600;
                            font-size: 1.1rem;
                        }
                    }
                }

                >#index_part_1_block_lower{
                    transform:translateX(-1rem) translateY(110%);
                    >div{
                        display: flex;
                        align-items: center;
                        
                        >span{
                            // color: $light;
                            opacity: 0;
                            font-size: .7rem;
                            >ion-icon{
                                font-size: 2rem;
                                // --ionicon-stroke-width: 310px !important;
                                
                                path{
                                    stroke-width: 10;
                                }
                                

                            }
                        }
                    }

                }
            }
           
        }
    }


}

