// IMPORTS

@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url("f/r/style.css");



.font_def{
    font-family: "Poppins", sans-serif;
}
.font_head{
    font-family: 'Rob', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    @extend .font_def;
}

$background: #fff2df;
$light:#eeeeee;
$opacity_1: #c7b9a577;

#update_text{
    display: none
}


body.updating{
    >*{
        display: none;

        &#update_text{
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
            text-align: center;
        }
    }
}


body{
    background-color: $background;
}




h1,h2{
    @extend .font_head;
    font-weight: 500;
}

button{
    border: none;
}

nav{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    position: sticky;
    top: 0;
    left: 0;

    >#nav_left{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: .5rem;
        line-height: 100%;
        >span{
            @extend .font_head;
        }
        >span:nth-child(1){
            font-size: 1.6rem;
            
        }

    }

    >#menu_button{
        height: 3rem;
        aspect-ratio: 1/1;
        background-color: #2d1c00;
        color: $light;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        >ion-icon{
            font-size: 1.7rem;
        }
    }

}


#index_main{
    overflow: hidden;
    min-height: 150vh;
    padding: .5rem;
    #index_part_1{
        height: 100vh;
        width: 100%;
        padding-top:5vh;


        >#index_part_1_header{
            display: flex;
            align-items: center;
            justify-content: center;
            >h1{
                text-align: right;
                font-size: 2rem;
            }
        }

        >#index_part_1_content{
            width: 100%;
            height: 100%;
            position: relative;
            
            >#index_part_1_img{
                position: absolute;
                right: -20%;
                z-index: 2;

                >img{
                    height: 80vh;
                }
            }

            >#index_part_1_block{
                width: 85vw;
                aspect-ratio: 1/1.1;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-60%);
                border: 5px solid $opacity_1;
                border-radius: 5px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >#index_part_1_block_upper{
                    display: flex;
                    gap: 1rem;
                    transform: translateY(-110%);

                    >div{
                        display: flex;
                        flex-direction: column;
                        >span{
                            line-height: 110%;
                            font-size: .7rem;
                        }

                        >span:nth-child(1){
                            @extend .font_head;
                            font-weight: 600;
                            font-size: 1.1rem;
                        }
                    }
                }

                >#index_part_1_block_lower{
                    transform:translateX(-1rem) translateY(110%);
                    >div{
                        display: flex;
                        align-items: center;
                        
                        >span{
                            font-size: .7rem;
                            >ion-icon{
                                font-size: 2rem;
                                // --ionicon-stroke-width: 310px !important;
                                
                                path{
                                    stroke-width: 10;
                                }
                                

                            }
                        }
                    }

                }
            }
           
        }
    }


}

